<div class="header-bg">
<div class="wrap">
<div class="header">
		<div class="logo">
				<a href="index.html"><img src="/images/logo1.png" alt="" title="logo" width="280" height="110"></a>
		</div>
	<ul class="nav">
		<li class="home"><a href="index.html">Home</a></li>
		<li class="news"><a href="index.html">Gallery</a></li>
		<li class="contact"><a href="contact.html">Contact</a></li>
	</ul>
	<div class="clear"></div>
	<div class="text">
		<div class="text-h">
			<h2>Lorem Ipsum is simply dummy</h2>
			<h3>Lorem Ipsum has been the industry's standard dummy text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor Lorem ipsum&nbsp;<b>© All Rights Reserved | Designed by&nbsp; <a href="#">Say Cheese<img src="/images/smiley.png" alt="" title="logo" width="30" height="30"></a></b></h3>
		</div>
		<div class="text-b">
			<form id="searchForm">
        	   <fieldset>
                   <div class="input">
                        <input type="text" name="s" id="s" value="Enter your search" />
                          <input type="submit" id="searchSubmit" value="" />
                    </div>
                  
               </fieldset>
            </form>
			</div>
			<div class="clear"></div>
		</div>
</div>
</div>
</div>
<div class="content-bg">
<div class="content">
    <div id="main" role="main">
      <ul id="tiles">
        <!-- These are our grid blocks -->
        <li><a href="single.html"><img src="/images/image_1.jpg" width="360" height="270"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_2.jpg" width="360" height="480"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_3.jpg" width="360" height="160"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_4.jpg" width="360" height="260"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_5.jpg" width="360" height="300"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_6.jpg" width="360" height="290"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_7.jpg" width="360" height="200"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_8.jpg" width="360" height="280"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_9.jpg" width="360" height="440"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_10.jpg" width="360" height="320"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_1.jpg" width="360" height="270"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_2.jpg" width="360" height="480"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_3.jpg" width="360" height="160"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_4.jpg" width="360" height="260"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_5.jpg" width="360" height="300"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_6.jpg" width="360" height="290"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_7.jpg" width="360" height="200"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_8.jpg" width="360" height="280"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_9.jpg" width="360" height="440"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_10.jpg" width="360" height="320"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_1.jpg" width="360" height="270"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_2.jpg" width="360" height="480"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_3.jpg" width="360" height="160"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_4.jpg" width="360" height="260"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_5.jpg" width="360" height="300"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_6.jpg" width="360" height="290"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_7.jpg" width="360" height="200"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_8.jpg" width="360" height="280"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_9.jpg" width="360" height="440"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <li><a href="single.html"><img src="/images/image_10.jpg" width="360" height="320"><p>Lorem Ipsum has been the industry's standard dummy text Ipsum</p></a></li>
        <!-- End of grid blocks -->
      </ul>
	</div>
 <!-- include jQuery -->
  <script src="/js/jquery.min.js"></script>
  <!-- Include the imagesLoaded plug-in -->
  <script src="/js/jquery.imagesloaded.js"></script>

  <!-- Include the plug-in -->
  <script src="/js/jquery.wookmark.js"></script>

  <!-- Once the page is loaded, initalize the plug-in. -->
  <script type="text/javascript">
    (function ($){
      $('#tiles').imagesLoaded(function() {
        var handler = null;

        // Prepare layout options.
        var options = {
          autoResize: true, // This will auto-update the layout when the browser window is resized.
          container: $('#main'), // Optional, used for some extra CSS styling
          offset: 20, // Optional, the distance between grid items
          itemWidth: 360 // Optional, the width of a grid item
        };

        /**
         * When scrolled all the way to the bottom, add more tiles.
         */
        function onScroll(event) {
          // Check if we're within 100 pixels of the bottom edge of the broser window.
          var winHeight = window.innerHeight ? window.innerHeight : $(window).height(); // iphone fix
          var closeToBottom = ($(window).scrollTop() + winHeight > $(document).height() - 100);

          if (closeToBottom) {
            // Get the first then items from the grid, clone them, and add them to the bottom of the grid.
            var items = $('#tiles li'),
                firstTen = items.slice(0, 10);
            $('#tiles').append(firstTen.clone());

            // Destroy the old handler
            if (handler.wookmarkInstance) {
              handler.wookmarkInstance.clear();
            }

            // Create a new layout handler.
            handler = $('#tiles li');
            handler.wookmark(options);
          }
        };

        // Capture scroll event.
        $(window).bind('scroll', onScroll);

        // Call the layout function.
        handler = $('#tiles li');
        handler.wookmark(options);
      });
    })(jQuery);
  </script>
</div>
</div>